body {font-family: Arial, Helvetica, sans-serif;}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Set a style for all buttons */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    opacity: 0.8;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 20%;
    border-radius: 50%;
}
.container {
    padding: 16px;
    width : 80%;
    display : block;
   	margin : auto;
}
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 70%; /* Could be more or less, depending on screen size */
    border-style: solid;
    border-width: thin;
    border-color: #000000;
}
