td{
	border: unset!important;
}

body{
	background-color: #252525;
	text-decoration-color: white!important;
}

h5,h4,h3,h2,h1{
	color: white!important;
}

hr{
	border-top: 1px solid rgba(255, 255, 255, 0.1)!important;
}

#cost{
	text-decoration-color: white;
}